<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mats.consultoriodental">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConsultorioDental">
        <activity
            android:name=".MenuPrincipal"
            android:exported="true" />
        <activity
            android:name=".modificar_paciente"
            android:exported="true" />
        <activity
            android:name=".listado_paciente"
            android:exported="true" />
        <activity
            android:name=".lista_tratamiento"
            android:exported="true" />
        <activity
            android:name=".servicios.tratamiento_estetico"
            android:exported="true" />
        <activity
            android:name=".servicios.tratamiento_nino"
            android:exported="true" />
        <activity
            android:name=".servicios.tratamiento_adulto"
            android:exported="true" />
        <activity
            android:name=".RegistrarPaciente"
            android:exported="true" />
        <activity
            android:name=".lista_citas"
            android:exported="true" />
        <activity
            android:name=".Principal"
            android:exported="true" />
        <activity
            android:name=".servicios.Servicios"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>